*{
    margin: 0;
    padding: 0;
    font-family: 'Poppons', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}
form input.operator{
    color: #33ffd8;
}
.name-background {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}

.name-row {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.name-track {
    display: flex;
    width: max-content;
    gap: 80px;

    font-size: 70px;
    font-weight: 800;
    white-space: nowrap;
    opacity: 0.08;

    animation: moveRight 20s linear infinite;
}

.row-1 {
    top: 10%;
}

.row-2 {
    top: 45%;
}

.row-3 {
    top: 80%;
}

.row-2 .name-track {
    animation: moveLeft 25s linear infinite;
}

.row-3 .name-track {
    animation: moveRight 30s linear infinite;
}


@keyframes moveRight {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes moveLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


.calculator {
    position: relative;
    z-index: 1;
}